* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
  color: white;
  text-align: center;
  background-image: url("sunset.jpg");
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.all {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.upercase-heading {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 20px;
}
.main-title {
  font-size: 50px;
  transform: scale(1, 1.1);
}
.lorem-text {
  width: 70%;
  margin: 60px auto;
}
.button {
  background: black;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 4px;
}
.button:hover {
  border-radius: 4px;
  background: #38180b;
}