* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    background: #ffffff;
    padding: 0px;
  }
  
  .Alice-card {
    overflow: auto;

  }
  .img2 {
    padding: 0px;
    float: left;
    width:170px;
    height:190px;  
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .button:hover {
    background-color:rgb(69, 69, 202);
  }